.navbar {
  overflow: hidden;
  background-color: #1D2D44;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #748CAB;
  color: #0D1321;
}

html, body {
  background: #EAE7D9;
  color: #0D1321;
  margin: 0;
  height: 100%;
}

body {
  padding-top: 70px;
}

main {
margin: 16px;
}

hr {
  background: black;
  width: 75%;
  margin-bottom: 40px;
  margin-top: 30px;
}

img {
  width: 30%;
  border-radius: 20px;
  margin-left: 35%;
  margin-right: 35%;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 10px;
  margin-top: 100px;
  width: 100%;
}

footer i {
  color: #f2f2f2;
}

footer p {
  margin: 0px 30px 0px 0px;
}

footer * {
  display: inline-block;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}